#image {
  size: 20%;
}
img {
  display: block;
  max-width: 23%;
  height: auto;
}

.text1 {
  font-family: "Graduate", cursive;
}
body {
  font-family: "Boogaloo", cursive;
}
.break {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
}
